:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: rgb(130, 66, 248);
  --black: rgb(85, 85, 85);
  --light-purple: rgb(180, 144, 248);
  --light-gray: rgb(250, 250, 250);
  --dark-purple:  rgb(73, 25, 162);
}

#root {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}